{% extends "base.html" %}
{% block title %} Add Event {% endblock %}
{% block content %}

{% from '_formhelpers.html' import render_field %}

<div id="container" class="ui-widget ui-widget-content ui-corner-all">
<form method="post" action="/add_event"> 
  {{ form.hidden_tag()|safe }}
  <dl>
    {{ render_field(form.name) }}
    {{ render_field(form.date, class="datepicker") }}
    {{ render_field(form.description) }}
  </dl>
  <input type="submit" value="Create Event" />
</form>
</div>
{% endblock %}
