{% extends "base.html" %}
{% block title %} Event List {% endblock %}
{% block content %}

<table border=1>
  <tr>
    <td> Date </td>
    <td> Name </td>
    <td> Attendees </td>
    <td> Revenue </td>
    <td> Event Price </td>
    <td> Description </td>
  </tr>
  {% for event in events %}
    <tr>
      <td> {{ event.date }} </td>
      <td> {{ event.name }} </td>
      <td> n/a </td>
      <td> n/a </td>
      <td> {{ event.price }} </td>
      <td> {{ event.description }} </td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
