{% extends "base.html" %}
{% block title %} Event List {% endblock %}
{% block content %}
<div id="container" class="ui-widget ui-widget-content ui-corner-all">
<table id="event_list" class="datatable">
  <thead>
    <tr>
      <th> Date </th>
      <th> Name </th>
      <th> Attendees </th>
      <th> Revenue </th>
      <th> Event Price </th>
      <th> Description </th>
    </tr>
  </thead>
  <tbody>
  {% for event in events %}
    <tr id={{ "event_" ~ event.id }} >
      <td> {{ event.date }} </td>
      <td> {{ event.name }} </td>
      <td> n/a </td>
      <td> n/a </td>
      <td> {{ event.price }} </td>
      <td> {{ event.description }} </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

<script type="text/javascript">

  $(document).ready(function() {
    $('#event_list').dataTable();

    $('table tbody tr').click( function() {
      var id = $(this).attr('id').slice(6);
      window.location = '/event/'+id;
      })
  });
</script>

{% endblock %}
